@import "tailwindcss";
/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #111827;
    /* gray-900 */
    color: #f3f4f6;
    /* gray-100 */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #111827;
    /* gray-900 */
}

::-webkit-scrollbar-thumb {
    background: #3730a3;
    /* indigo-800 */
    border-radius: 5px;
    border: 2px solid #111827;
    /* padding effect */
}

::-webkit-scrollbar-thumb:hover {
    background: #4f46e5;
    /* indigo-600 */
}