@import "tailwindcss";
/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #111827;
    /* gray-900 */
    color: #f3f4f6;
    /* gray-100 */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #111827;
    /* gray-900 */
}

::-webkit-scrollbar-thumb {
    background: #3730a3;
    /* indigo-800 */
    border-radius: 5px;
    border: 2px solid #111827;
    /* padding effect */
}

::-webkit-scrollbar-thumb:hover {
    background: #4f46e5;
    /* indigo-600 */
}

.parallax-bg {
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.static-shape {
    position: absolute;
    opacity: 0.2;
    filter: blur(100px);
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 40%;
    transition: all 1s ease-in-out;
}

.blob-indigo-large {
    width: 700px;
    height: 700px;
    background: #6366f1;
    top: -100px;
    left: -250px;
}

.blob-purple-vibrant {
    width: 500px;
    height: 500px;
    background: #a855f7;
    top: 25%;
    right: -200px;
    border-radius: 60% 40% 30% 70% / 50% 30% 70% 50%;
}

.blob-indigo-soft {
    width: 600px;
    height: 600px;
    background: #4f46e5;
    top: 55%;
    left: -200px;
    opacity: 0.15;
}

.glow-purple-main {
    width: 450px;
    height: 450px;
    background: radial-gradient(circle, #8b5cf6 0%, transparent 80%);
    top: 75%;
    right: -150px;
    filter: blur(120px);
}

.blob-indigo-bottom {
    width: 800px;
    height: 800px;
    background: #3730a3;
    bottom: -200px;
    left: -300px;
    opacity: 0.1;
}

.glow-accent-left {
    width: 300px;
    height: 300px;
    background: #6366f1;
    top: 35%;
    left: -100px;
    filter: blur(90px);
    opacity: 0.12;
}

/* Defined Circles */
.shape-circle-defined {
    opacity: 0.4;
    filter: blur(10px);
    border-radius: 50%;
    z-index: 1;
    /* Sit above the blurs */
    animation: dotPulse 8s ease-in-out infinite;
}

/* Dots forming a "vignette" (Frame + Corners) centered on the middle of the page height */
/* The core center (35% to 65% horizontal) remains empty/clean. */

/* Left side distribution (Corners, far edges, and inner frame boundary) */
.circle-left-1 {
    width: 60px;
    height: 60px;
    background: #6366f1;
    top: 2%;
    left: 2%;
    animation-delay: 0s;
}

/* Top Corner */
.circle-left-2 {
    width: 45px;
    height: 45px;
    background: #818cf8;
    top: 15%;
    left: 22%;
    animation-delay: -1.5s;
}

/* Inner Frame */
.circle-left-3 {
    width: 90px;
    height: 90px;
    background: #4f46e5;
    top: 25%;
    left: 5%;
    animation-delay: -4s;
    opacity: 0.3;
}

/* Edge */
.circle-left-4 {
    width: 40px;
    height: 40px;
    background: #a855f7;
    top: 35%;
    left: 18%;
    animation-delay: -2s;
}

/* Intermediate */
.circle-left-5 {
    width: 75px;
    height: 75px;
    background: #6366f1;
    top: 45%;
    left: 4%;
    animation-delay: -0.5s;
}

/* Edge */
.circle-left-6 {
    width: 50px;
    height: 50px;
    background: #a855f7;
    top: 55%;
    left: 15%;
    animation-delay: -3.5s;
}

/* Frame */
.circle-left-7 {
    width: 30px;
    height: 30px;
    background: #8b5cf6;
    top: 65%;
    left: 3%;
    animation-delay: -5.5s;
}

/* Edge */
.circle-left-8 {
    width: 40px;
    height: 40px;
    background: #6366f1;
    top: 75%;
    left: 25%;
    animation-delay: -1.2s;
}

/* Inner Frame */
.circle-left-9 {
    width: 45px;
    height: 45px;
    background: #818cf8;
    top: 85%;
    left: 6%;
    animation-delay: -2.8s;
}

/* Edge */
.circle-left-10 {
    width: 70px;
    height: 70px;
    background: #8b5cf6;
    top: 92%;
    left: 20%;
    animation-delay: -4.8s;
}

/* Bottom Frame */
.circle-left-11 {
    width: 55px;
    height: 55px;
    background: #4f46e5;
    top: 5%;
    left: 18%;
    animation-delay: -0.8s;
}

/* Top Frame */
.circle-left-12 {
    width: 30px;
    height: 30px;
    background: #818cf8;
    top: 50%;
    left: 28%;
    animation-delay: -3.7s;
}

/* Inner-most center boundary */
.circle-left-13 {
    width: 65px;
    height: 65px;
    background: #8b5cf6;
    top: 98%;
    left: 2%;
    animation-delay: -4.3s;
}

/* Bottom Corner */
.circle-left-14 {
    width: 50px;
    height: 50px;
    background: #4f46e5;
    top: 8%;
    left: 10%;
    animation-delay: -5.6s;
}

/* Near Top edge */
.circle-left-15 {
    width: 40px;
    height: 40px;
    background: #818cf8;
    top: 95%;
    left: 12%;
    animation-delay: -1.1s;
}

/* Near Bottom edge */

/* Right side distribution (Symmetric vignette) */
.circle-right-1 {
    width: 80px;
    height: 80px;
    background: #a855f7;
    top: 2%;
    right: 2%;
    animation-delay: -1s;
}

/* Top Corner */
.circle-right-2 {
    width: 70px;
    height: 70px;
    background: #6366f1;
    top: 15%;
    right: 22%;
    animation-delay: -3s;
}

/* Inner Frame */
.circle-right-3 {
    width: 50px;
    height: 50px;
    background: #8b5cf6;
    top: 25%;
    right: 5%;
    animation-delay: -5s;
}

/* Edge */
.circle-right-4 {
    width: 100px;
    height: 100px;
    background: #4f46e5;
    top: 35%;
    right: 18%;
    animation-delay: -7s;
}

/* Intermediate */
.circle-right-5 {
    width: 35px;
    height: 35px;
    background: #818cf8;
    top: 45%;
    right: 4%;
    animation-delay: -2.5s;
}

/* Edge */
.circle-right-6 {
    width: 65px;
    height: 65px;
    background: #6366f1;
    top: 55%;
    right: 15%;
    animation-delay: -6.2s;
}

/* Frame */
.circle-right-7 {
    width: 85px;
    height: 85px;
    background: #4f46e5;
    top: 65%;
    right: 3%;
    animation-delay: -0.8s;
}

/* Edge */
.circle-right-8 {
    width: 55px;
    height: 55px;
    background: #a855f7;
    top: 75%;
    right: 25%;
    animation-delay: -2.8s;
}

/* Inner Frame */
.circle-right-9 {
    width: 60px;
    height: 60px;
    background: #6366f1;
    top: 85%;
    right: 6%;
    animation-delay: -3.2s;
}

/* Edge */
.circle-right-10 {
    width: 35px;
    height: 35px;
    background: #a855f7;
    top: 92%;
    right: 20%;
    animation-delay: -4.2s;
}

/* Bottom Frame */
.circle-right-11 {
    width: 80px;
    height: 80px;
    background: #6366f1;
    top: 5%;
    right: 18%;
    animation-delay: -5.1s;
}

/* Top Frame */
.circle-right-12 {
    width: 40px;
    height: 40px;
    background: #a855f7;
    top: 50%;
    right: 28%;
    animation-delay: -1.9s;
}

/* Inner-most center boundary */
.circle-right-13 {
    width: 90px;
    height: 90px;
    background: #6366f1;
    top: 98%;
    right: 2%;
    animation-delay: -2.1s;
}

/* Bottom Corner */
.circle-right-14 {
    width: 35px;
    height: 35px;
    background: #a855f7;
    top: 8%;
    right: 10%;
    animation-delay: -0.9s;
}

/* Near Top edge */
.circle-right-15 {
    width: 75px;
    height: 75px;
    background: #6366f1;
    top: 95%;
    right: 12%;
    animation-delay: -4.4s;
}

/* Near Bottom edge */

/* Response for devices */
@media only screen and (max-device-width: 1366px) {
    .static-shape {
        filter: blur(60px);
        opacity: 0.12;
    }

    .shape-circle-defined {
        filter: blur(6px);
        opacity: 0.3;
        animation: dotPulse 10s ease-in-out infinite;
        /* Slower on mobile */
    }
}

@keyframes dotPulse {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.35;
    }

    50% {
        transform: scale(1.18);
        opacity: 0.5;
    }
}