@import "tailwindcss";
/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #111827;
    /* gray-900 */
    color: #f3f4f6;
    /* gray-100 */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #111827;
    /* gray-900 */
}

::-webkit-scrollbar-thumb {
    background: #3730a3;
    /* indigo-800 */
    border-radius: 5px;
    border: 2px solid #111827;
    /* padding effect */
}

::-webkit-scrollbar-thumb:hover {
    background: #4f46e5;
    /* indigo-600 */
}

.parallax-bg {
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.static-shape {
    position: absolute;
    opacity: 0.2;
    filter: blur(100px);
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 40%;
    transition: all 1s ease-in-out;
}

.blob-indigo-large {
    width: 700px;
    height: 700px;
    background: #6366f1;
    top: -100px;
    left: -250px;
}

.blob-purple-vibrant {
    width: 500px;
    height: 500px;
    background: #a855f7;
    top: 25%;
    right: -200px;
    border-radius: 60% 40% 30% 70% / 50% 30% 70% 50%;
}

.blob-indigo-soft {
    width: 600px;
    height: 600px;
    background: #4f46e5;
    top: 55%;
    left: -200px;
    opacity: 0.15;
}

.glow-purple-main {
    width: 450px;
    height: 450px;
    background: radial-gradient(circle, #8b5cf6 0%, transparent 80%);
    top: 75%;
    right: -150px;
    filter: blur(120px);
}

.blob-indigo-bottom {
    width: 800px;
    height: 800px;
    background: #3730a3;
    bottom: -200px;
    left: -300px;
    opacity: 0.1;
}

.glow-accent-left {
    width: 300px;
    height: 300px;
    background: #6366f1;
    top: 35%;
    left: -100px;
    filter: blur(90px);
    opacity: 0.12;
}

/* Defined Circles */
.shape-circle-defined {
    opacity: 0.4;
    filter: blur(10px);
    border-radius: 50%;
    z-index: 1;
    /* Sit above the blurs */
    animation: dotPulse 8s ease-in-out infinite;
}

.circle-left-1 {
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, #6366f1 0%, #4f46e5 100%);
    top: 8%;
    left: 10%;
    animation-delay: 0s;
}

.circle-right-1 {
    width: 80px;
    height: 80px;
    background: linear-gradient(135deg, #a855f7 0%, #8b5cf6 100%);
    top: 18%;
    right: 12%;
    animation-delay: -1s;
    animation-duration: 9s;
}

.circle-left-2 {
    width: 45px;
    height: 45px;
    background: #818cf8;
    top: 32%;
    left: 8%;
    animation-delay: -2s;
}

.circle-right-2 {
    width: 70px;
    height: 70px;
    background: #6366f1;
    top: 42%;
    right: 10%;
    animation-delay: -3s;
    animation-duration: 10s;
}

.circle-left-3 {
    width: 90px;
    height: 90px;
    background: #6366f1;
    top: 56%;
    left: 12%;
    opacity: 0.3;
    animation-delay: -4s;
}

.circle-right-3 {
    width: 50px;
    height: 50px;
    background: #8b5cf6;
    top: 68%;
    right: 14%;
    animation-delay: -5s;
    animation-duration: 7s;
}

.circle-left-4 {
    width: 40px;
    height: 40px;
    background: #a855f7;
    top: 78%;
    left: 9%;
    animation-delay: -6s;
}

.circle-right-4 {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, #4f46e5 0%, transparent 80%);
    top: 88%;
    right: 11%;
    animation-delay: -7s;
    animation-duration: 11s;
}

.circle-left-5 {
    width: 75px;
    height: 75px;
    background: #6366f1;
    top: 94%;
    left: 7%;
    animation-delay: -0.5s;
}

.circle-right-5 {
    width: 35px;
    height: 35px;
    background: #818cf8;
    top: 5%;
    right: 9%;
    animation-delay: -2.5s;
}

.circle-left-6 {
    width: 50px;
    height: 50px;
    background: #a855f7;
    top: 25%;
    left: 15%;
    animation-delay: -3.5s;
}

.circle-right-6 {
    width: 65px;
    height: 65px;
    background: #6366f1;
    top: 60%;
    right: 18%;
    animation-delay: -1.2s;
    animation-duration: 9.5s;
}

.circle-left-7 {
    width: 30px;
    height: 30px;
    background: #8b5cf6;
    top: 48%;
    left: 20%;
    animation-delay: -5.5s;
}

.circle-right-7 {
    width: 85px;
    height: 85px;
    background: radial-gradient(circle, #4f46e5 0%, transparent 80%);
    top: 80%;
    right: 5%;
    animation-delay: -0.8s;
}

.circle-left-8 {
    width: 40px;
    height: 40px;
    background: #6366f1;
    top: 65%;
    left: 5%;
    animation-delay: -4.2s;
}

.circle-right-8 {
    width: 55px;
    height: 55px;
    background: #a855f7;
    top: 35%;
    right: 4%;
    animation-delay: -2.8s;
}

/* Response for devices */
@media only screen and (max-device-width: 1366px) {
    .static-shape {
        filter: blur(60px);
        opacity: 0.12;
    }

    .shape-circle-defined {
        filter: blur(6px);
        opacity: 0.3;
        animation: dotPulse 10s ease-in-out infinite;
        /* Slower on mobile */
    }
}

@keyframes dotPulse {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.35;
    }

    50% {
        transform: scale(1.18);
        opacity: 0.5;
    }
}